.App {
  text-align: center;
  background-color: #2ECC40;
}

.App-team-picture {
  height: 250px;
  border-radius: 8px;
}

.App-header {
  background-color: #3D9970;
  height: 280px;
  padding: 20px;
  color: white;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}