.about-text {
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


.cards-list {
	margin-bottom:50px;
}


.individual-cards {
	margin-bottom: 20px;
}

.card-row {
	width:65%;
	margin-left:auto;
	margin-right:auto;
}